* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: 1520px 2685px;
}

/****************************hero section****************************/

.hero-section {
  width: 80%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 60px;
}

.video {
  width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #060072e7;
}

.temp {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px #060072e7;
  background-color: #120c8115;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 25px;
}

.temp-title {
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #060072e7;
}

#weather-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.city {
  padding: 15px;
  width: 220px;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
  color: #060072e7;
  font-size: 15px;
}

@media (max-width: 780px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 350px;
    height: auto;
    align-items: center;
  }

  .video {
    width: 350px;
    height: auto;
  }

  .temp {
    width: 370px;
    height: auto;
  }

  .temp-title {
    font-size: 30px;
  }

  #weather-container {
    gap: 10px;
  }

  .city {
    padding: 5px;
    width: 220px;
    font-size: 12px;
    font-weight: 500;
  }
}

/*********************************card and opthins*******************************/
.cards-container {
  height: auto;
  width: 90%;
  padding: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.card-container {
  background-color: #120c8113;
  box-shadow: 0 0 5px #060072e7;
  width: 95%;
  height: 225px;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  gap: 30px;
}

.card-container img {
  width: 30%;
  height: auto;
  border-radius: 5px;
}

.text {
  display: flex;
  flex-direction: column;
}

.text h4 {
  font-size: 40px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #060072e7;
}

.text p {
  font-size: 20px;
  font-weight: 400;
  color: #e2ba42;
}
.text .long-text {
  font-size: 15px;
}

.text .long-head {
  font-size: 35px;
}

.text button {
  background: none;
  width: 40%;
  border: solid 2px #ffd453;
  border-radius: 5px;
  color: #060072e7;
}

@media (max-width: 780px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 350px;
    padding: 5px;
    gap: 20px;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    gap: 10px;
    margin: auto;
  }

  .card-container img {
    width: 90%;
    align-self: center;
  }

  .text h4 {
    font-size: 30px;
  }

  .text p {
    font-size: 15px;
  }

  .text button {
    background: none;
    width: 40%;
    border: solid 2px #ffd453;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 5px;
  }
}

/***********************************container***************************************/
.cs-contaner {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 80%;
  height: auto;
  margin: auto;
  padding: 10px;
  margin-bottom: 40px;
}

.c-contaner {
  text-align: center;
}

.c-contaner div {
  border: solid 2px #ffd453;
  border-radius: 50%;
  font-family: "Rubik", sans-serif;
  color: #060072f9;
  font-size: 20px;
  width: 110px;
  height: 110px;
  text-align: center;
  align-content: center;
}

.c-contaner p {
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 780px) {
  .cs-contaner {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
  }
}
